* {
  margin: 0;
  padding: 0;
  
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: scroll;
  overflow: hidden;
  background-color: #FFE53B;
  background-image: linear-gradient(147deg, #ffffff 0%, #000000 74%);
  color: #fff;

}

.navbar {
  position: relative;
  padding: 10px 0;
  display: flex;
  align-items: center;
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  justify-content: space-between;
  z-index: 10;
  margin-bottom: 3px;
}
.logo{
  width: 40%;
}
.logo a{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}
.logo a{
  text-decoration: none;
}
.logo a p{
  color: red;
  font-size: 1rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.logo img {
  width: 55px;
  transition: transform 0.3s ease, color 0.1s ease;
}
.logo img:hover{
  transform: scale(1.5);
  box-shadow: 5px 5px 14px black;
  border-radius: 50%;
}
.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
  display: flex;
}

.nav-links li a {
  position: relative;
  display: inline-block;
  padding: 10px;
  color: #ff0000;
  text-decoration: none;
  transition: color 0.3s ease;
  text-shadow: 1px 1px 2px #000000;
}

.nav-links li a i {
  font-size: 34px;
  transition: transform 0.3s ease, color 0.1s ease;
}

.nav-links li a:hover {
  color: #ffffff; 
}

.nav-links li a:hover i {
  transform: scale(1.7); 

}

.nav-links li a:hover::before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
}

.nav-links li a::after {
  content: attr(data-text); 
  display: block;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  opacity: 0; 
  transition: opacity 0.3s ease;
}

.nav-links li a:hover::after {
  opacity: 1; 
}



.page {
  display: none;
}

.page.active {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}

.main-displayed{
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: auto;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    
}
#chatBot{
  position: relative;
  width: 100%;

  height: 90vh;
}

#about-me{
  position: relative;
  width: 100%;

  height: 90vh;
}
#skills{
  position: relative;
  width: 100%;

  height: 90vh;
}
#projects{
  position: relative;
  width: 100%;

  height: 90vh;
}
.content-projects {
  width: 100%;
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.iframe-container {
  display: flex;
  flex-direction: column;
  width: 100%;

}

.iframe-wrapper {
  scroll-snap-align: start;
  width: 100%;
  margin-top:10px;
  
}

.restaurant iframe,
.curatenie iframe {
  width: 100%;
  height: 90vh;
  margin-top:10px;
}



#contact{
  position: relative;
  width: 100%;
  height: 90vh;

  
}
#contact a{
  text-decoration: none;
}

.contact-section {
  width:100%;
  height:fit-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center; 
}
form {
  max-width: 500px;
  margin: 20px; 
  padding: 20px; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  display: block;
  font-weight: bold;
  margin-top: 10px;
  color: #fff;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  box-shadow: 1px 1px 1px 2px rgb(0, 0, 0);
}

input[type="submit"] {
  background-color: #ffffff;
  color:#34cddb;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px 1px rgb(0, 0, 0);
}

input[type="submit"]:hover {
  background-color: #000000;
}



.chat-container {
  width: 90%;
  height: 33%;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  font-size: .8rem;
}

.category-container {
  grid-template-columns: 2fr;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  width: 100%;
  
}

.category-button {
  padding: 5px 10px;
  margin: 3px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: .7rem;
}

.category-button:hover {
  background-color: #0056b3;
}

.question-button {
  margin-top: 10px;
  padding: 3px;
  background-color: #828383;
  border: 1px solid #ccc;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.question-button:hover {
  background-color: #e0e0e0;
}

.answer-container {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: 'Times New Roman', Times, serif;
}



.widgets-zone{
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  text-align: center;
  align-items: center;
  grid-gap: 10px;
  width: 100%;
  height: fit-content;
  margin-top: 20px;
}
.widget {
  width: 100%;
  position: relative;
  box-sizing: border-box;

}

.clock-container {
  position: relative;

}

.time, .date, .weather-widget h5 {
  text-align: center;
  font-size: .7rem;
  text-decoration: solid;
  text-shadow: 3px 3px 8px black;
  color: #fff;
}

.weather-icon {
  text-align: center;

}


.weather-icon img {
  width: 65px; 
  height: auto;
  display: block;
  margin: 0 auto;
}

.weather-details {
  text-align: center;
  font-family: cursive;
  font-size: .7rem;
}

.temperature, .description {
  margin: 5px 0;
  font-weight: bold;
}
.phone{

}

.phone a{
  font-size: 1.2rem;
  color:rgb(0, 0, 0);
}
.phone a:hover{
  font-size: 1.5rem;
  color:#000000;
  transition: 1s;
}


#stats-container{
  display: grid;
  grid-gap: 3px;
  margin: 5px;
  width: 90%;
  height: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  
}
#stats-container p{
  font-size: .9rem;
  text-shadow: 2px 2px 5px black;
  padding: 2px;
  
}
#stats-container h1{
  font-size: 1rem;
  
}

#intro-text-container {
  display: flex;
  justify-content: center;
  text-align: center;
  justify-items: center;
  width: 100%;
  opacity: 1;
  transform: translateY(20px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

#intro-text-container.show {
  opacity: 1;
  transform: translateY(0);
}

#intro-text , p #intro-text {
  color: #ffffff;
  text-shadow: 3px 4px 10px #fff;
}

.slideshow-container {
  position: relative;
  width: 60%;
  margin-left: 50%;
  transform: translate(-50%);
  height: 50vh;
  overflow: hidden;
  object-fit: contain;
  object-position: top;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
}

.slides {
  display: flex;
  transition: transform 0.5s ease;
}

.slides img {
  min-width: 100%;
  height:fit-content;
  object-fit: fill;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  z-index: 1;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}
.news-container{
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.news{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.news-1,
.news-2,
.news-3 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  text-align: center;
  width: 100%;
  color:#fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.news-1 p,
.news-2 p,
.news-3 p,
.news-1 img,
.news-2 video,
.news-3 img {
  display: none;
  max-width: 100%;
  border-radius: 8px;
  margin-top: 15px;
}
.news-1 h3,
.news-2 h3,
.news-3 h3 {
  
  text-shadow: 1px 1px 1px black;
  padding: 5px;
  font-family: 'Times New Roman', Times, serif;
}

#video-container {
  position: relative;
}

#video-player {
  width: 100%;
}

#playlist {
  height: 50vh;
  overflow: scroll;
  list-style-type: none;
  padding: 0;
}

#playlist li {
  cursor: pointer;
  margin: 10px 0;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  transition: background-color 0.3s;
  position: relative;
  color: #000000;
}

#playlist li:hover {
  background-color: #e5e5e5;
}

#playlist li p {
  margin-top: 10px;
  color: #666;
}
#playlist h2{
  color:#fff;
  margin-bottom: 5px;
}
#terms-privacy{
  background-color: #000000bd;
  width: 100%;
  height: 100vh;
  overflow-x: scroll;
}
#terms-privacy img{
  width: 20%;
}
#terms-privacy h4{
  padding: 10px;
  line-height: 1.6;
  color: rgb(6, 49, 3);
  background-color: #ffffff;
  text-shadow: 3px 4px 6px black;
}










@media (max-width: 768px) {
  body{
    display: flex;
    flex-direction: column;
  }
  header{
    
  }
  .navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
  }

  .nav-links {
    list-style: none;
    padding: 0;
    margin: 0; 
    width: 60%;
    display: flex;
    justify-content: center;
    padding: 10px;
  }

  .nav-links li {
    margin-bottom: 20px;
    width: 100%; 
  }
  .nav-links li a i {
    font-size: 24px;
    transition: transform 0.3s ease, color 0.1s ease;
  }

  .nav-links li a {

    align-items: center; 
    text-decoration: none;
    padding: 2px; 
    transition: background-color 0.3s ease;
    color: #ff0000;
  }
  main{
    position: relative;
    min-width: 100%
  }
  .page.active{
    min-width: 100%;
    height:100vh;
  }
  .category-button{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: .8rem;
  }
  .slideshow-container{
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    justify-items: center;
    display:inline;
  }
  
}